@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  details[open] summary {
    color: #fd3101;
  }

  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffa41d;
    border-radius: 100vh;
    border: 3px solid #ffffff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e92c00;
  }
}
